@page "/Admin"
@using Microsoft.AspNetCore.Authorization
@using ValhallaVaultCyberAwareness.App.Services
@using ValhallaVaultCyberAwareness.DAL.Repository
@using ValhallaVaultCyberAwareness.DAL.Uow
@using ValhallaVaultCyberAwareness.DAL.DbModels
@inject IUow UnitOfWork
@attribute [Authorize]
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]
@inject IAdminService adminService

<h3>Category Management</h3>

@if (categories == null)
{
    <p>Loading categories...</p>
}
else
{
    <table class="table text-light">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td class="text-light">@category.Name</td>
                    <td>
                        <button @onclick="() => ConfirmEditCategory(category)">Edit</button>
                        <button @onclick="() => ConfirmDeleteCategory(category.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button @onclick="ShowAddCategoryForm">Add New Category</button>

    @if (showAddForm)
    {
        <EditForm Model="newCategory" OnValidSubmit="SubmitAddCategory">
            <InputText @bind-Value="newCategory.Name" />
            <button type="submit">Add Category</button>
        </EditForm>
    }

    @if (showEditForm)
    {
        <EditForm Model="selectedCategory" OnValidSubmit="SubmitEditCategory">
            <InputText @bind-Value="selectedCategory.Name" />
            <button type="submit">Update Category</button>
        </EditForm>
    }

    @if (showConfirmDelete)
    {
        <p>Are you sure you want to delete this category?</p>
        <button @onclick="() => DeleteCategory(deleteCategoryId)">Confirm Delete</button>
        <button @onclick="() => showConfirmDelete = false">Cancel</button>
    }
}
<h4>Segment Management</h4>
@if (segments == null)
{
    <p>Loading segments...</p>
}
else
{
        <table class="table text-light">
        <thead>
            <tr>
                <th>Segment Name</th>
                <th>Associated Category ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var segment in segments)
            {
                <tr>
                    <td>@segment.Name</td>
                    <td>@segment.CategoryId</td>
                    <td>
                        <button @onclick="() => EditSegment(segment)">Edit</button>
                        <button @onclick="() => ConfirmDeleteSegment(segment.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button @onclick="ShowAddSegmentForm">Add New Segment</button>
}

@if (showAddSegmentForm)
{
    <EditForm Model="newSegment" OnValidSubmit="SubmitAddSegment">
        <InputText @bind-Value="newSegment.Name" />
        <InputNumber @bind-Value="newSegment.CategoryId" />
        <button type="submit">Add Segment</button>
    </EditForm>
}

@if (showEditSegmentForm)
{
    <EditForm Model="selectedSegment" OnValidSubmit="SubmitEditSegment">
        <InputText @bind-Value="selectedSegment.Name" />
        <InputNumber @bind-Value="selectedSegment.CategoryId" />
        <button type="submit">Update Segment</button>
    </EditForm>
}

@if (showConfirmDeleteSegment)
{
    <p>Are you sure you want to delete this segment?</p>
    <button @onclick="() => DeleteSegment(deleteSegmentId)">Confirm Delete</button>
    <button @onclick="() => showConfirmDeleteSegment = false">Cancel</button>
}

<h4>Subcategory Management</h4>
@if (subcategories == null)
{
    <p>Loading subcategories...</p>
}
else
{
        <table class="table text-light">
        <thead>
            <tr>
                <th>Subcategory Name</th>
                <th>Associated Segment ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subcategory in subcategories)
            {
                <tr>
                    <td>@subcategory.Name</td>
                    <td>@subcategory.SegmentId</td>
                    <td>
                        <button @onclick="() => EditSubcategory(subcategory)">Edit</button>
                        <button @onclick="() => ConfirmDeleteSubcategory(subcategory.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button @onclick="ShowAddSubcategoryForm">Add New Subcategory</button>
}

@if (showAddSubcategoryForm)
{
    <EditForm Model="newSubcategory" OnValidSubmit="SubmitAddSubcategory">
        <InputText @bind-Value="newSubcategory.Name" />
        <InputNumber @bind-Value="newSubcategory.SegmentId" />
        <button type="submit">Add Subcategory</button>
    </EditForm>
}

@if (showEditSubcategoryForm)
{
    <EditForm Model="selectedSubcategory" OnValidSubmit="SubmitEditSubcategory">
        <InputText @bind-Value="selectedSubcategory.Name" />
        <InputNumber @bind-Value="selectedSubcategory.SegmentId" />
        <button type="submit">Update Subcategory</button>
    </EditForm>
}

@if (showConfirmDeleteSubcategory)
{
    <p>Are you sure you want to delete this subcategory?</p>
    <button @onclick="() => DeleteSubcategory(deleteSubcategoryId)">Confirm Delete</button>
    <button @onclick="() => showConfirmDeleteSubcategory = false">Cancel</button>
}
<h4>Question Management</h4>
@if (questions == null)
{
    <p>Loading questions...</p>
}
else
{
        <table class="table text-light">
        <thead>
            <tr>
                <th>Question Title</th>
                <th>Associated Subcategory ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in questions)
            {
                <tr>
                    <td>@question.Title</td>
                    <td>@question.SubcategoryId</td>
                    <td>
                        <button @onclick="() => EditQuestion(question)">Edit</button>
                        <button @onclick="() => ConfirmDeleteQuestion(question.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button @onclick="TriggerShowAddQuestionForm">Add New Question</button>
}
@if (showAddQuestionForm)
{
    <EditForm Model="newQuestion" OnValidSubmit="SubmitAddQuestion">
        <InputText @bind-Value="newQuestion.Title" />

        <label for="subcategoryId">Subcategory:</label>
        <select @bind="newQuestion.SubcategoryId">
            @foreach (var subcategory in subcategories)
            {
                <option value="@subcategory.Id">@subcategory.Name</option>
            }
        </select>

        @foreach (var answer in newQuestion.Answers)
        {
            <div>
                <InputText @bind-Value="answer.Answer" />
                <InputCheckbox @bind-Value="answer.IsCorrectAnswer" />
                <label>Is Correct Answer</label>
            </div>
        }

        <button type="button" @onclick="SubmitAddQuestion">Add Question</button>
    </EditForm>
  @*   <button type="button" @onclick="AddNewAnswer">Add Answer</button> *@
    <button type="button" @onclick="AddAnswerAsync">Add Answer</button>
}


@if (showEditQuestionForm)
{
    <EditForm Model="selectedQuestion" OnValidSubmit="SubmitEditQuestion">
        <InputText @bind-Value="selectedQuestion.Title" />
        <InputNumber @bind-Value="selectedQuestion.SubcategoryId" />
        <button type="submit">Update Question</button>
    </EditForm>
}

@* @if (showAddQuestionForm || showEditQuestionForm)
{
    <EditForm Model="@((showAddQuestionForm) ? newQuestion : selectedQuestion)" OnValidSubmit="@((showAddQuestionForm) ? SubmitAddQuestion : SubmitEditQuestion)">
        <InputText @bind-Value="@((showAddQuestionForm) ? newQuestion.Title : selectedQuestion.Title)" />
        <InputNumber @bind-Value="@((showAddQuestionForm) ? newQuestion.SubcategoryId : selectedQuestion.SubcategoryId)" />

        @for (int i = 0; i < ((showAddQuestionForm) ? newQuestion.Answers.Count : selectedQuestion.Answers.Count); i++)
        {
            <div>
                <InputText @bind-Value="@((showAddQuestionForm) ? newQuestion.Answers[i].Answer : selectedQuestion.Answers[i].Answer)" />
                <InputCheckbox @bind-Value="@((showAddQuestionForm) ? newQuestion.Answers[i].IsCorrectAnswer : selectedQuestion.Answers[i].IsCorrectAnswer)" />
                <!-- Additional fields as required -->
            </div>
        }

        @if (((showAddQuestionForm) ? newQuestion.Answers.Count : selectedQuestion.Answers.Count) < 3)
        {
            <button @onclick="AddNewAnswer">Add Answer</button>
        }

        <button type="submit">@((showAddQuestionForm) ? "Add Question" : "Update Question")</button>
    </EditForm>
} *@

@if (showConfirmDeleteQuestion)
{
    <p>Are you sure you want to delete this question?</p>
    <button @onclick="() => DeleteQuestion(deleteQuestionId)">Confirm Delete</button>
    <button @onclick="() => showConfirmDeleteQuestion = false">Cancel</button>
}



@code {

    
    
    private IEnumerable<AnswerModel> answers; 

    private IEnumerable<CategoryModel> categories;
    private CategoryModel newCategory = new CategoryModel();
    private CategoryModel selectedCategory = new CategoryModel();
    private bool showAddForm = false;
    private bool showEditForm = false;
    private bool showConfirmDelete = false;
    private int deleteCategoryId;
    // Segment Variables
    private IEnumerable<SegmentModel> segments;
    private SegmentModel newSegment = new SegmentModel();
    private SegmentModel selectedSegment = new SegmentModel();
    private bool showAddSegmentForm = false;
    private bool showEditSegmentForm = false;
    private bool showConfirmDeleteSegment = false;
    private int deleteSegmentId;
    

    // Subsegment Variables
    private IEnumerable<SubcategoryModel> subcategories;
    private SubcategoryModel newSubcategory = new SubcategoryModel();
    private SubcategoryModel selectedSubcategory = new SubcategoryModel();
    private bool showAddSubcategoryForm = false;
    private bool showEditSubcategoryForm = false;
    private bool showConfirmDeleteSubcategory = false;
    private int deleteSubcategoryId;
    

    // Question Variables
    private IEnumerable<QuestionModel> questions;
    private QuestionModel newQuestion = new QuestionModel();
    private QuestionModel selectedQuestion = new QuestionModel();
    private bool showAddQuestionForm = false;
    private bool showEditQuestionForm = false;
    private bool showConfirmDeleteQuestion = false;
    private int deleteQuestionId;

    protected override async Task OnInitializedAsync()
    {
        categories = await adminService.GetAllCategoriesAsync();
        segments = await adminService.GetAllSegmentsAsync();
        subcategories = await adminService.GetAllSubcategoriesAsync();
        questions = await adminService.GetAllQuestionsAsync();
    }


    //CATEGORY
    private async Task SubmitAddCategory()
    {
        await adminService.AddCategoryAsync(newCategory);
        categories = await adminService.GetAllCategoriesAsync();
        showAddForm = false;
    }
    private async Task SubmitEditCategory()
    {
        await adminService.UpdateCategoryAsync(selectedCategory);
        categories = await adminService.GetAllCategoriesAsync();
        showEditForm = false;
    }
    private void ConfirmEditCategory(CategoryModel category)
    {
        selectedCategory = category;
        showEditForm = true;
    }
    private async Task DeleteCategory(int categoryId)
    {
        await adminService.DeleteCategoryAsync(categoryId);
        categories = await adminService.GetAllCategoriesAsync();
        showConfirmDelete = false;
    }
    private void ConfirmDeleteCategory(int categoryId)
    {
        deleteCategoryId = categoryId;
        showConfirmDelete = true;
    }
    private void ShowAddCategoryForm()
    {
        newCategory = new CategoryModel();
        showAddForm = true;
    }


    //SEGMENT
    private async Task SubmitAddSegment()
    {
        await adminService.AddSegmentAsync(newSegment);
        segments = await adminService.GetAllSegmentsAsync();
        showAddSegmentForm = false;
    }
    private void ShowAddSegmentForm()
    {
        newSegment = new SegmentModel();
        showAddSegmentForm = true;
    }

    private async Task SubmitEditSegment()
    {
        await adminService.UpdateSegmentAsync(selectedSegment);
        segments = await adminService.GetAllSegmentsAsync();
        showEditSegmentForm = false;
    }
    private void EditSegment(SegmentModel segment)
    {
        selectedSegment = segment;
        showEditSegmentForm = true;
    }
    private void ConfirmDeleteSegment(int segmentId)
    {
        deleteSegmentId = segmentId;
        showConfirmDeleteSegment = true;
    }
    private async Task DeleteSegment(int segmentId)
    {
        await adminService.DeleteSegmentAsync(segmentId);
        segments = await adminService.GetAllSegmentsAsync();
        showConfirmDeleteSegment = false;
    }

    //SUBCATEGORY

    private async Task SubmitAddSubcategory()
    {
        await adminService.AddSubcategoryAsync(newSubcategory);
        subcategories = await adminService.GetAllSubcategoriesAsync();
        showAddSubcategoryForm = false;
    }
    private void ShowAddSubcategoryForm()
    {
        newSubcategory = new SubcategoryModel();
        showAddSubcategoryForm = true;
    }

    private async Task SubmitEditSubcategory()
    {
        await adminService.UpdateSubcategoryAsync(selectedSubcategory);
        subcategories = await adminService.GetAllSubcategoriesAsync();
        showEditSubcategoryForm = false;
    }
    private void EditSubcategory(SubcategoryModel subcategory)
    {
        selectedSubcategory = subcategory;
        showEditSubcategoryForm = true;
    }

    private async Task DeleteSubcategory(int subcategoryId)
    {
        await adminService.DeleteSubcategoryAsync(subcategoryId);
        subcategories = await adminService.GetAllSubcategoriesAsync();
        showConfirmDeleteSubcategory = false;
    }

    private void ConfirmDeleteSubcategory(int subcategoryId)
    {
        deleteSubcategoryId = subcategoryId;
        showConfirmDeleteSubcategory = true;
    }

    //QUESTIONS 
    private async Task SubmitAddQuestion()
    {
        await adminService.AddQuestionAsync(newQuestion);
        questions = await adminService.GetAllQuestionsAsync();
        // Assuming newQuestion.Id is now set, proceed to add answers
        if (newQuestion.Id != 0 && newQuestion.Answers.Any())
        {
            await SubmitAnswersForQuestion(newQuestion);
        }
        showAddQuestionForm = false;
    }

    private async Task SubmitAnswersForQuestion(QuestionModel question)
    {
        foreach (var answer in question.Answers)
        {
            if (string.IsNullOrEmpty(answer.Answer)) continue; // Skip empty answers

            answer.QuestionId = question.Id;
            await adminService.AddAnswerAsync(answer);
        }
    }
    private async Task SubmitEditQuestion()
    {
        await adminService.UpdateQuestionAsync(selectedQuestion);

        // Assuming you have a way to track new vs existing answers
        foreach (var answer in selectedQuestion.Answers)
        {
            if (answer.Id > 0) // If it's an existing answer, update it
            {
                await adminService.UpdateAnswerAsync(answer);
            }
            else // If it's a new answer, add it
            {
                answer.QuestionId = selectedQuestion.Id; // Link the answer to the question
                await adminService.AddAnswerAsync(answer);
            }
        }

        questions = await adminService.GetAllQuestionsAsync();
        showEditQuestionForm = false;
    }

    private async Task DeleteQuestion(int questionId)
    {
        await adminService.DeleteQuestionAsync(questionId);
        questions = await adminService.GetAllQuestionsAsync();
        showConfirmDeleteQuestion = false;
    }
    private void TriggerShowAddQuestionForm()
    {
        newQuestion = new QuestionModel();
        
        showAddQuestionForm = true;
    }
    private void EditQuestion(QuestionModel question)
    {
        selectedQuestion = question;
        showEditQuestionForm = true;
    }
    private void ConfirmDeleteQuestion(int questionId)
    {
        deleteQuestionId = questionId;
        showConfirmDeleteQuestion = true;
    }
    // private void AddNewAnswer()
    // {
    //     var answerModel = new AnswerModel();
    //     if (showAddQuestionForm)
    //     {
    //         newQuestion.Answers.Add(answerModel);
    //     }
    //     else if (showEditQuestionForm)
    //     {
    //         selectedQuestion.Answers.Add(answerModel);
    //     }
    // }

    private void AddAnswerAsync()
    {
        var answerModel = new AnswerModel();
        newQuestion.Answers.Add(answerModel);
    }
}



