@page "/question/{SegmentId:int}/{SubcategoryId:int}"
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using ValhallaVaultCyberAwareness.App.Services
@using ValhallaVaultCyberAwareness.DAL.DbModels
@using ValhallaVaultCyberAwareness.DAL.Repository
@inject IRepository<UserResponseModel> userResponseRepository
@inject IRepository<SegmentModel> segmentRepository
@inject IRepository<SubcategoryModel> subcategoryRepository
@inject IRepository<QuestionModel> questionRepository
@inject IRepository<AnswerModel> answerRepository
@inject ISubcategoryService subcategoryService
@inject IQuestionService questionService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

@attribute [Authorize]

<PageTitle>Quiz - segment.Name</PageTitle>

<div class="container bg-white text-dark rounded shadow-sm p-4 my-4">
    @if (!isLoaded)
    {
        <div class="text-center">
            <p><em>Laddar frågor...</em></p>
        </div>
    }
    else if (!showResults)
    {
        @if (subCategories != null && currentSubCategory != null)
        {
            <h2 class="text-center mb-3">@currentSubCategory.Name</h2>
        }

        @if (currentQuestion != null)
        {
        <h4 class="text-center mb-4">@currentQuestion.Title</h4>
        }

        if (answers != null && currentQuestion != null)
        {
            foreach (var answer in answers)
            {
                <div class="form-check">
                    <input class="form-check-input @active" id="answer-@answer.Id" type="radio" name="answerGroup-@currentQuestion.Id"
                           value="@answer.Id" @onclick="() => SelectAnswer(answer)"
                           checked="@(selectedAnswers.ContainsKey(currentQuestion.Id) && selectedAnswers[currentQuestion.Id] == answer.Id)" />
                    <label class="form-check-label @active @(isSubmitted ? (answer.IsCorrectAnswer ? "text-success" : "text-danger") : "")" 
                    for="answer-@answer.Id">@answer.Answer</label>
                </div>
            }
        }

        @if(explanation != null)
        {
            <br />
            <h5>Förklaring:</h5>
            <label>@explanation</label>         
        }

        <!-- Button Navigation -->
        <div class="d-flex justify-content-between mt-4">


            @if (!isSubmitted)
            {
                <button class="btn btn-outline-success" @onclick="SubmitAnswer">Skicka in svar</button>
            }
            else
            {
                // Kontrollera om det är den sista frågan
                bool isLastQuestion = currentSubCategory.Questions.LastOrDefault() == currentQuestion &&
                subCategories.LastOrDefault() == currentSubCategory;

                if (!isLastQuestion)
                {
                    <button class="btn btn-outline-primary" @onclick="@(async () => await NextQuestion())">Nästa</button>
                }
                else
                {
                    <button class="btn btn-outline-primary" @onclick="ShowResult">Visa resultat</button>
                }
            }

            <span></span> <!-- Placeholder for alignment -->

        </div>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger mt-2" role="alert">
                @errorMessage
            </div>
        }
    }
    else
    {
        @if (showResults && segment != null)
        {
            <div class="container bg-white text-dark rounded shadow-sm p-4 my-4 position-relative">
                <div class="position-absolute top-0 end-0 p-1">
                    @if (isPassed)
                    {
                        <div class="alert alert-success" role="alert">
                            Godkänt - @percentageCorrect% klarat
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            Underkänt - @percentageCorrect% klarat
                        </div>
                    }
                </div>

                @foreach (var subcategory in subCategories) // Loopa genom alla subkategorier
                {
                    <h2>@subcategory.Name</h2>

                    foreach (var question in subcategory.Questions) // Loopa genom alla frågor inom subkategorin
                    {
                        <div>
                            <strong>@question.Title</strong>

                            @foreach (var answer in question.Answers) // Visa alla svarsalternativ
                            {
                                <div class="form-check">
                                    @if (IsUserSelectedAnswer(question, answer))
                                    {
                                        
                                            <input type="radio" id="@answer.Id"
                                                   name="@("answerGroup" + question.Id)"
                                                   value="@answer.Id"
                                                   checked
                                                   disabled />
                                            <label class="form-check-label" for="@answer.Id" style="@labelStyle">@answer.Answer</label>
                                    }
                                    else
                                    {
                                            <input type="radio" id="@answer.Id"
                                                   name="@("answerGroup" + question.Id)"
                                                   value="@answer.Id"
                                                   
                                                   disabled />
                                            <label class="form-check-label" for="@answer.Id" style="@labelStyle">@answer.Answer</label>
                                    }
                                </div>
                            }
                        </div>
                    }
                }
                <div class="position-absolute bottom-0 end-0 p-1">
                    <a class="btn btn-primary" href="/category/@segment.CategoryId">Tillbaka</a>
                </div>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public int SegmentId { get; set; }
    [Parameter]
    public int SubcategoryId { get; set; }

    private string active = "";
    private string labelStyle = "";
    private ClaimsPrincipal? user;
    private List<SubcategoryModel>? subCategories;
    private List<SubcategoryModel>? filteredSubCategories = new();
    private List<QuestionModel>? questions;
    private List<AnswerModel>? answers;
    private Dictionary<int, int> selectedAnswers = new();
    private SegmentModel? segment;
    private SubcategoryModel? currentSubCategory;
    private QuestionModel? firstQuestion;
    private QuestionModel? currentQuestion;
    private AnswerModel? selectedAnswer;
    private string? explanation;
    private string errorMessage = "";
    private string? userId;
    private int currentSubcategoryIndex = 0;
    private double percentageCorrect;
    private bool showResults = false;
    private bool isSubmitted = false;
    private bool isNotUpdated = false;
    private bool isLoaded = false;
    private bool isPassed;


    protected override async Task OnInitializedAsync()
    {
        segment = await segmentRepository.GetByIdAsync(SegmentId);

        // Hämta alla subkategorier för det angivna segmentet.
        subCategories = await subcategoryRepository.GetSubcategoriesBySegmentAsync(SegmentId);

        try
        {
            firstQuestion = subCategories.First().Questions[0];
            currentSubCategory = subCategories.First(s => s.Id == SubcategoryId);
            currentQuestion = currentSubCategory.Questions[0];
        }
        catch
        {
            NavigationManager.NavigateTo("/Home");
            return;
        }

        await LoadUser();

        var canAccess = await questionService.CanAccessQuestion(SegmentId, SubcategoryId, currentQuestion.Id, userId);

        if (!canAccess)
        {
            NavigationManager.NavigateTo("/Home");
            return;
        }


        await LoadAnswersForCurrentQuestion();
        currentSubcategoryIndex = subCategories.FindIndex(sc => sc.Id == SubcategoryId);

        isLoaded = !isLoaded;

        StateHasChanged();
    }

    private async Task LoadAnswersForCurrentQuestion()
    {
        if (currentQuestion != null)
        {
            answers = await answerRepository.GetAnswersByQuestionIdAsync(currentQuestion.Id);

            // se ifall användaren har rätt svar på frågan. Om den ha det så visa resultat
            UserResponseModel existingResponse = await userResponseRepository.FindByUserAndQuestionAsync(userId, currentQuestion.Id);
            var responseAnswer = await answerRepository.GetByIdAsync((int)(existingResponse.AnswerId));

            if (existingResponse.IsCorrect)
            {
                // Checka det valda alternativet som användaren valde
                SelectAnswer(responseAnswer);
                isNotUpdated = false;
                isSubmitted = !isSubmitted;
                SubmitAnswer();
            }

            StateHasChanged();
        }
    }

    private void SelectAnswer(AnswerModel selectedAnswer)
    {
        this.selectedAnswer = selectedAnswer;
        if (currentQuestion != null)
        {
            selectedAnswers[currentQuestion.Id] = selectedAnswer.Id;
            StateHasChanged();
        }
    }

    private async Task LoadUser()
    {

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        if (user.Identity != null)
        {

            if (!user.Identity.IsAuthenticated)
            {
                errorMessage = "Användaren är inte autentiserad.";
                return;
            }

            userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? "";
            if (string.IsNullOrEmpty(userId))
            {
                errorMessage = "Kunde inte hitta användarens Id.";
                return;
            }
        }
    }

    private async void SubmitAnswer()
    {

        if (selectedAnswer == null)
        {
            errorMessage = "Vänligen välj ett svar.";
            return;
        }

        active = "disabled";
        isSubmitted = true;
        errorMessage = string.Empty;
        explanation = selectedAnswer.Explanation;

        await LoadUser();

        var existingResponse = await userResponseRepository.FindByUserAndQuestionAsync(userId, currentQuestion.Id);

        if (existingResponse != null)
        {
            existingResponse.IsCorrect = selectedAnswer.IsCorrectAnswer;
            existingResponse.AnswerId = selectedAnswer.Id;
            if (isNotUpdated)
            {
                await userResponseRepository.UpdateAsync(existingResponse);
            }
            isNotUpdated = true;
        }
        else
        {
            var userResponse = new UserResponseModel
                {
                    UserId = userId,
                    QuestionId = currentQuestion.Id,
                    IsCorrect = selectedAnswer.IsCorrectAnswer,
                    AnswerId = selectedAnswer.Id
                };

            await userResponseRepository.CreateAsync(userResponse);
        }

    }

    private async Task NextQuestion()
    {
        int questionIndex = currentSubCategory.Questions.IndexOf(currentQuestion);
        if (questionIndex + 1 < currentSubCategory.Questions.Count)
        {
            // Gå till nästa fråga inom samma subkategori
            currentQuestion = currentSubCategory.Questions[questionIndex + 1];
        }
        else if (currentSubcategoryIndex + 1 < subCategories.Count)
        {
            // Gå till första frågan i nästa subkategori
            currentSubcategoryIndex++;
            currentSubCategory = subCategories[currentSubcategoryIndex];
            currentQuestion = currentSubCategory.Questions.FirstOrDefault();
        }
        else
        {
            // Alla frågor har besvarats, visa resultat
            await ShowResult();
            return;
        }

        // Återställ för nästa fråga
        selectedAnswer = null;
        isSubmitted = false;
        explanation = null;
        active = "";
        await LoadAnswersForCurrentQuestion();
        StateHasChanged();
    }

    private async Task ShowResult()
    {
        // subCategories = await subcategoryRepository.GetSubcategoriesBySegmentAsync(SegmentId);
        isLoaded = true;

        await CalculateResults();

        // Visa resultaten
        showResults = true;
        StateHasChanged();
    }

    private async Task CalculateResults()
    {
        await LoadUser();

        // // Se till att vi har en giltig användar-ID.
        if (string.IsNullOrEmpty(userId))
        {
            throw new InvalidOperationException("Kunde inte hitta användarens Id.");
        }

        // Ladda om alla subkategorier för att säkerställa att vi har en komplett uppsättning.
        subCategories = await subcategoryRepository.GetSubcategoriesBySegmentAsync(SegmentId);

        // Hämta alla användarsvar för nuvarande segment.
        var userResponses = await userResponseRepository.GetByUserIdAndSegmentIdAsync(userId, SegmentId); // Fel i kod, visar 1 i count

        // Räkna det totala antalet frågor och antalet rätta svar.
        int totalQuestions = subCategories.SelectMany(sc => sc.Questions).Count(); // Visar 1
        int correctAnswers = userResponses.Count(ur => ur.IsCorrect);

        // Beräkna procentandelen av rätta svar.
        percentageCorrect = (int)(((double)correctAnswers / totalQuestions) * 100);
        isPassed = percentageCorrect >= 80;
        showResults = true;

        // Uppdatera komponenten med nya data.
        StateHasChanged();
    }

    private bool IsUserSelectedAnswer(QuestionModel question, AnswerModel answer)
    {
        if (question == null && userId != null)
        {
            return false;
        }
        else
        {
            var userAnswer = userResponseRepository.GetUserResponse(userId, question.Id, answer.Id);

            if (userAnswer != null)
            {
                labelStyle = answer.IsCorrectAnswer ? "color:green;" : "color:red;";
                return true;
            }
            else
            {
                labelStyle = answer.IsCorrectAnswer ? "color:green;" : "";
                return false;
            }
        }
    }
}
