@page "/subcategory/{SegmentId:int}/{SubcategoryId:int}"
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using ValhallaVaultCyberAwareness.App.PageHandler
@using ValhallaVaultCyberAwareness.App.Services
@using ValhallaVaultCyberAwareness.DAL.DbModels
@using ValhallaVaultCyberAwareness.DAL.Repository
@inject IRepository<SubcategoryModel> subcategoryRepository
@inject IRepository<SegmentModel> segmentRepository
@inject IRepository<CategoryModel> categoryRepository
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ISegmentService segmentService 
@inject ISubcategoryService subcategoryService
@inject NavigationManager NavigationManager

@attribute [Authorize]

@if (category == null && segment == null)
{
    <PageTitle>Segment - Category</PageTitle>
}
else if ((category != null && segment != null) && subcategories != null && subcategory != null)
{
    //Navbar
    <ValhallaVaultCyberAwareness.Components.Pages.SharedComponents.NavbarCourse></ValhallaVaultCyberAwareness.Components.Pages.SharedComponents.NavbarCourse>

    <PageTitle>@segment.Name - @category.Name</PageTitle>


    <div class="valhalla-row">
        <div class="valhalla-div">
            <h1 class="valhalla-title">@subcategory.Name</h1>
            <h4>@category.Name - @segment.Name</h4>
            <a class="btn btn-primary valhalla-btn margin-top" href="/question/@SegmentId/@firstSubCategoryId">Starta testet</a>
            <br />
            <label class="margin-top valhalla-title">Information om subkategorin:</label>
            <div class="col align-content-center valhalla-description-div">
                <p class="valhalla-description-subcategory">@subcategory.Info</p>
                <br />
            </div>
            <div class="d-flex justify-content-between mt-4">
                @if (currentSubcategoryIndex > 0)
                {
                    <a href="@GetPreviousSubcategoryUrl()" class="btn btn-secondary">Föregående</a>
                }
                else
                {
                    <span></span> <!-- Placeholder for alignment -->
                }
                <span></span> <!-- Placeholder for alignment -->
                @if (currentSubcategoryIndex < subcategories.Count - 1)
                {
                <a href="@GetNextSubcategoryUrl()" class="btn btn-primary">Nästa</a>
                }
                else
                {
                    <span></span> <!-- Placeholder for alignment when the button is not shown -->
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int SegmentId { get; set; }
    [Parameter]
    public int SubcategoryId { get; set; }

    private string errorMessage = "";
    private ClaimsPrincipal? user;
    private string? userId;
    private List<SubcategoryModel>? subcategories;
    private SubcategoryModel? subcategory;
    private SegmentModel? segment;
    private CategoryModel? category;
    private int currentSubcategoryIndex = 0;
    private int firstSubCategoryId;

    protected override async Task OnInitializedAsync()
    {
        await LoadUser();

        var canAccess = await subcategoryService.IsOpenSubcategory(SegmentId, SubcategoryId, userId);

        if (!canAccess)
        {
            NavigationManager.NavigateTo("/Home");
            return;
        }

        PageHandler.SegmentId = SegmentId;

        subcategories = await subcategoryRepository.GetSubcategoriesBySegmentAsync(SegmentId);

        subcategory = await subcategoryRepository.GetByIdAsync(SubcategoryId);
        segment = await segmentRepository.GetByIdAsync(SegmentId);
        category = await categoryRepository.GetCategoryWithSegmentIdAsync(SegmentId);

        if (subcategories != null)
        {
            currentSubcategoryIndex = subcategories.FindIndex(sc => sc.Id == SubcategoryId);
            firstSubCategoryId = subcategories.First().Id;
        }

        StateHasChanged();

        PageHandler.WentToSubcategory = true;
        PageHandler.SubcategoryIdHolder = SubcategoryId;
        PageHandler.SegmentId = SegmentId;
    }

    private async Task LoadUser()
    {

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        if (user.Identity != null)
        {

            if (!user.Identity.IsAuthenticated)
            {
                errorMessage = "Användaren är inte autentiserad.";
                return;
            }

            userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? "";
            if (string.IsNullOrEmpty(userId))
            {
                errorMessage = "Kunde inte hitta användarens Id.";
                return;
            }
        }
    }

    private string GetPreviousSubcategoryUrl()
    {
        var prevIndex = currentSubcategoryIndex - 1;
        if (prevIndex < 0)
        {
            prevIndex = subcategories.Count - 1;
        }
        return $"/subcategory/{SegmentId}/{subcategories[prevIndex].Id}";
    }

    private string GetNextSubcategoryUrl()
    {
        var nextIndex = currentSubcategoryIndex + 1;
        if (nextIndex >= subcategories.Count)
        {
            nextIndex = 0;
        }
        return $"/subcategory/{SegmentId}/{subcategories[nextIndex].Id}";
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();


    }
}
